@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 1rem;
    background-color: #212121;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    min-height: 100vh;
    color: #ffffff;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}


.menu,
.background {
  position: fixed;
}


body.open .background {
  filter: blur(10px);
}

.navbar {
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 72px;
}

.navbar-burger {
  z-index: 3;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("Images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .navbar-burger {
  background-image: url("Images/close.svg");
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  border-bottom: 20px solid white;
  transition: 0.5s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  padding: 20px 0;
  width: 300px;
  text-decoration: none;
  transition: 0.4s;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #f7f7f7;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: 0.4s;
}

.menu a:hover::after {
  transform: scaleX(1);
}

body.open .menu a {
  animation: appear 0.3s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0em;
}


header {
    display: flex;
    justify-content: space-between;
}

.hero {
    font-size: 1.8rem;
    padding-top: 10rem;
    height: 100vh;
}

.name {
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    position: absolute;
    bottom: 5rem;
}

.arrow-down {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 50%;
    bottom: 2rem;
  }

  .bounce {
    animation: bounce 3s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

.photo-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.container {
  position: relative;
}

.container:hover .photo-overlay {
  opacity: 1;
}

.photo-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  backdrop-filter: blur(2px);
}

.photo-title {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .text {
    font-size: 1rem;
  }



.portrait {
  position: absolute;
  right: 1rem;
  width: 20rem;
  border-radius: 1rem;
}


@media only screen and (min-width: 680px) {
  .hero {
    font-size: 2.8rem;
    padding-top: 5rem;
}

.name {
  font-size: 2.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
}

.text {
  font-size: 1.5rem;
}

.about{
  font-size: 1.6rem;
}

.portrait {
  width: 30rem;
}

.wrapper-img {
  height: 50vh;
}
  

.info-title{
  font-size: 1.1rem;
  width: 15rem;
}

.info-text {
  font-size: 1rem;
}

.context-title {
  font-size: 2rem;
  width: 70%;
}

.context-text {
  font-size: 1.5rem;
}
}

@media only screen and (min-width: 920px) {
  .hero {
    font-size: 4rem;
}

.name {
  font-size: 3rem;
}

.text {
  font-size: 2rem;
}

.about{
  font-size: 1.6rem;
}

.portrait {
  width: 30rem;
}

.wrapper-img {
  height: 60vh;
}
  
.info-title{
  font-size: 1.5rem;
  width: 20rem;
}

.info-text {
  font-size: 1.5rem;
}

.context-title {
  font-size: 2rem;
}

.context-text {
  font-size: 1.5rem;
}
}

@media only screen and (min-width: 1024px) {
  body{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .photo-gallery {
    flex-direction: row;
  }
  .nav li a {

    font-size: 2rem;
  }
  .change-bg {
    width: 800px;
    height:700px;
    transform: translate(-40%,-30%);
  }

  .container-img {
    padding-top: 0rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .container-img-2 {
    padding-top: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .content-img {
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    margin: 2.5rem;
  }
  
  .portrait {
    right: 2.5rem;
  }
  
  .about-wrapper {
    display: flex ;
    position: absolute;
    top: 25%;
  }
.about{
  font-size: 1.6rem;
  width: 60%;
  padding-top: 6rem;
}

.wrapper-img {
  height: 65vh;
  background-position-y: 10%;
}


.container-img {
  width: 70%;
}

.container-img-2 {
  padding-top: 2rem;
  width: 70%;
}

.content-img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}


}